---
- name: include os-specific variables
  include_vars: "{{ ansible_os_family }}.yml"

- name: Include prerequisites for Redhat
  include_tasks: "setup-{{ ansible_os_family }}.yml"
#   when: ansible_os_family == "RedHat"
#
# - name: Include prerequisites for Debain/Ubuntu
#   include_tasks: setup-debian.yml
#   when: ansible_os_family == "Debian"

#
- name: Include prerequisites for Redhat Make observium user
  user:
    name: "{{ observium_user }}"
    shell: "/bin/false"
    groups: "{{ apache_group }}"
    append: yes
    home: "{{ observium_path }}"
    create_home: no
    comment: "user for running observium"
  when: not observium_user == "root"

#  when: "observium_user  =! 'root'"


- name: check if observium path exists
  stat:
    path: "{{ observium_path }}"
  register: observsium_stat

- name: create observium path
  file:
    path: "{{ observium_path }}"
    state: directory
    mode: 0755
    owner: "{{ observium_user }}"
    group: "{{ apache_group }}"

- name: Checkout subscription observium
  when: observium_use_subscription
  subversion:
    dest: "{{ observium_path }}"
    repo: "{{ observium_svn_url }}/{{ observium_svn_branch }}"
    username: "{{ observium_svn_username }}"
    password: "{{ observium_svn_password }}"

- name: check if observium community edition is downloaded
  stat:
    path: "{{ observium_path }}-community-latest.tar.gz"
  register: observium_community_stat

- name: extract community edition
  when: not observium_use_subscription and not observium_community_stat.stat.exists
  unarchive:
   src: "{{ observium_community_url }}"
   dest: /opt
   creates: "{{ observium_path }}/config.php.default"

- name: include selinux tasks
  include_tasks: selinux.yml
  when: ansible_selinux.status == 'enabled'

- name: create observium directories
  file:
    path: "{{ item.path }}"
    state: directory
    owner: "{{ observium_user }}"
    group: "{{ apache_group }}"
    mode: "{{ item.mode }}"
  with_items: "{{ observium_directories }}"

- name: template observium configuration
  template:
    src: config.php.j2
    dest: "{{ observium_path }}/config.php"
    owner: root
    group: root
    backup: yes

- include_tasks: rrdcached.yml

- include_tasks: mariadb.yml

- name: template observium crontab
  template:
    src: observium.cron.j2
    dest: /etc/cron.d/observium
    owner: root
    group: root
    mode: 0644

- include_tasks: devices.yml
  when: observium_devices is defined
