---
- name: include os-specific variables
  include_vars: "{{ ansible_os_family }}.yml"

- name: Include task for distro
  include_tasks: "observium.setup-{{ ansible_os_family }}.yml"
#   when: ansible_os_family == "RedHat"
#
# - name: Include prerequisites for Debain/Ubuntu
#   include_tasks: setup-debian.yml
#   when: ansible_os_family == "Debian"

#
- name: Make observium user
  user:
    name: "{{ observium_user }}"
    shell: "/bin/false"
    groups: "{{ apache_group }}"
    append: yes
    home: "{{ observium_path }}"
    create_home: no
    comment: "user for running observium"
  when: not observium_user == "root"

#  when: "observium_user  =! 'root'"


- name: check if observium path exists
  stat:
    path: "{{ observium_path }}"
  register: observsium_stat

- name: include setup tasks, based on Subscription
  include_tasks: "observium.setup-{{ observium_type }}.yml"

- name: create observium sub-directories
  file:
    path: "{{ item.path }}"
    state: directory
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "{{ item.mode }}"
    recurse: yes
  with_items: "{{ observium_directories }}"

- name: include selinux tasks
  include_tasks: selinux.yml
  when: ansible_selinux.status == 'enabled'

- name: template observium configuration
  template:
    src: config.php.j2
    dest: "{{ observium_path }}/config.php"
    owner: root
    group: root
    mode: 0644

- name: Include mariadb setup
  include_tasks: observium.mariadb.yml

- name: "Cron: for observium"
  cron:
    name: "{{ item.name }}"
    minute: "{{ item.min }}"
    hour: "{{ item.hour }}"
    user: "{{ observium_user }}"
    job: "{{ item.job }}"
    cron_file: ansible_observium
  with_items: "{{ observium_cron_jobs }}"

# - name: template observium crontab
#   template:
#     src: observium.cron.j2
#     dest: /etc/cron.d/observium
#     owner: root
#     group: root
#     mode: 0644


-  include_tasks: setup.rrdcached.yml
-  include_tasks: setup.smokeping.yml
-  include_tasks: setup.apache.yml


- name: setup devices
  include_tasks: observium.devices.yml
  when: observium_devices is defined

- name: "setup observium users"
  when: observium_users
  command: "{{observium_path}}/adduser.php {{ item.username }} {{ item.password }} {{ item.level }} {{ item.email }}"
  with_items: "{{observium_users}}"
