---

##url for access= http://localhost/cgi-bin/smokeping.cgi

- name: Include prerequisites for Redhat
  yum: name=smokeping state=installed
  when: ansible_os_family == "RedHat"

- name: Include prerequisites for Debain/Ubuntu
  apt: name=smokeping state=installed
  when: ansible_os_family == "Debian"

- name: Controlling config  for target2
  lineinfile:
   path: /etc/smokeping/config
   regexp: '^@include /etc/smokeping/config.d/Targets2'
   line: '@include /etc/smokeping/config.d/Targets2'
   backup: yes
  notify:
   - restart smokeping

- name: templater smokeping probes file
  template: >-
    src=smokeping.probes.j2
    dest=/etc/smokeping/config.d/probes
    owner=root
    group=root
    mode=0644
  notify:
   - restart smokeping


- name: templater smokeping Presentation file
  template: >-
    src=smokeping.Presentation.j2
    dest=/etc/smokeping/config.d/Presentation
    owner=root
    group=root
    mode=0644
  notify:
   - restart smokeping


##datadir  = /opt/observium/rrd/smokeping
- name: Controlling pathname  for target2
  lineinfile:
   path: /etc/smokeping/config.d/pathnames
   regexp: '^datadir'
   line: 'datadir  = /opt/observium/rrd/smokeping'
   backup: yes
  notify:
   - restart smokeping

- name: template smokeping Presentation
  template: >-
    src=smokeping.Presentation.j2
    dest=/etc/smokeping/config.d/Presentation
    owner=root
    group=root
    mode=0644
  notify:
   - restart smokeping


- name: Controlling generate-smokeping for Fping random between 1-4
  lineinfile:
   path: /opt/observium/scripts/generate-smokeping.php
   regexp: '^echo("probe = FPing"'
   line: 'echo("probe = FPing" . rand(1,4) . PHP_EOL);'
   backup: yes


- name: template observium-smokeping crontab
  template: >-
    src=smokeping.cron.j2
    dest=/etc/cron.d/observium-smpkeping
    owner=root
    group=root
    mode=0644

- name: enable and start smokeping
  service:
    name=smokeping
    enabled=yes
    state=started
