[Unit]
Description=RRDCached
After=network.target

[Service]
Restart=always
User=root
ExecStartPre=/usr/bin/install -d -m 0775 {{ rrdcached_journal }}
ExecStart=/usr/bin/rrdcached -s {{ apache_group }} \
    -l {{ rrdcached_socket }} \
    -p {{ rrdcached_pidfile }} \
    -j {{ rrdcached_journal }} \
    -b {{ rrdcached_basefolder }}  -B \
    -g -w {{ rrdcached_wtimeout }} -z {{ rrdcached_delay }} -f {{ rrdcached_ftimeout }}

[Install]
WantedBy=multi-user.target
