# {{ ansible_managed }}
# smokeping probes
*** Probes ***

+ FPing

binary = /usr/bin/fping
hostinterval = 0.02

++FPing1
offset = 00%
++FPing1
offset = 25%
++FPing3
offset = 50%
++FPing4
offset = 75%
