# {{ ansible_managed }}
# smokeping General

*** General ***

owner    = {{ smokeping_owner }}
contact  = {{ smokeping_owner_email }}
#mailhost = my.mail.host
# NOTE: do not put the Image Cache below cgi-bin
# since all files under cgi-bin will be executed ... this is not
# good for images.
# http://{{ ansible_hostname }}/cgi-bin/smokeping.cgi
cgiurl   = http://{{ ansible_hostname }}/smokeping.cgi

# specify this to get syslog logging
syslogfacility =  {{ smokeping_syslogfacility }}

# each probe is now run in its own process
# disable this to revert to the old behaviour
# concurrentprobes = no

syslogpriority = {{ smokeping_syslogpriority }}

# must be present, with split config. @include/../pathnames
@include /etc/smokeping/config.d/pathnames
