# {{ ansible_managed }}
# smokeping Alerts

*** Alerts ***
to = {{ smokeping_email_to }}
from = {{ smokeping_email_from }}

+someloss
type = loss
# in percent
pattern = >0%,*12*,>0%,*12*,>0%
comment = loss 3 times  in a row
